
.profile-area { padding: 5rem 0; background-color: #f2f2f2;}

.profile-area {
  display: flex;
  align-items: center;   /* vertically align */
  justify-content: flex-start; /* keep items close */
  gap: 30px;  /* small space between circle and text */
  padding: 2rem 5rem
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  ; /* optional padding */
}

.shortName h5 {
    padding: 10px;
    font-size: 2rem;
    border-radius: 50%;
    background: #333;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 2px;
    font-weight: 500;
    position: relative;
    width: 100px;
    height: 100px;
    margin: auto;
}
// .shortName h5::after {
//     position: absolute;
//     content: "";
//     width: 30px;
//     height: 30px;
//     background: #a435f0;
//     border-radius: 50%;
//     top: 1rem;
//     left: 11rem;
// }
