<!-- Filter Section -->
<section class="filterArea">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <app-search-top-filters [topFilters]="sendTopFilters" (addFilter)="onFilterChange($event)"></app-search-top-filters>
            </div>
        </div>
    </div>
</section>

<!-- Course Search Result Display -->
<section class="search-wraper">
    <div *ngIf="searchResultCourse.length > 0" class="container">
        <div class="row">
            @for(item of searchResultCourse; track item.id; let i = $index){
            <div class="col-lg-4">
                <div class="inner-content">
                    <span (click)="goToDetailsPage(item)">
                        <img src="{{item.thumbnailImage}}" />
                        <h5 [wordShort]="70">{{item.title}} </h5><span class="level">
                            <b> {{item.level}}</b><mat-icon>signal_cellular_alt</mat-icon></span>
                    </span><br>
                    <figcaption>
                        <p [wordShort]="70">{{item.description}}</p>
                        <!-- Footer -->
                        <div class="card-footer">
                            <span class="ratings"><mat-icon>star</mat-icon> {{item.ratings}} <span class="price">${{ item.price }}</span></span>
                            
                            <button *ngIf="!isIntCart(item.id)" class="addToCart" type="button"
                                (click)="addToCart(item.id)">
                                Add to Cart
                            </button>
                            <button *ngIf="isIntCart(item.id)" class="addToCart" type="button" (click)="goToCart()">
                                Go to Cart
                            </button>
                        </div>
                    </figcaption>
                </div>
            </div>
            }
        </div>
        <div class="row">
            <div class="col-lg-12">
                @if(searchResultCourse.length > 0){
                <div class="pagination">
                    <button class="commnClass" [disabled]="pageNumber === 1" (click)="goToPage(pageNumber-1)">
                        < </button>
                            <button class="pageNumbering" *ngFor="let p of pages" [class.active]="p === pageNumber"
                                (click)="goToPage(p)">{{p}}
                            </button>
                            <span class="totalPages">... {{totalPages}}</span>
                            <button class="commnClass" [disabled]="pageNumber === totalPages"
                                (click)="goToPage(pageNumber+1)"> > </button>
                </div>
                }

            </div>
        </div>
    </div>
    <div class="container" *ngIf="searchResultCourse.length == 0">
          <div class="row">
             <div class="col-lg-12">
                <app-data-not-found></app-data-not-found>
             </div>
          </div>
    </div>
    <!-- Pagination -->
</section>