
$primary-background-color: #5f1ebd;
$primary-text-color:#444;
$primary-text-color2:#5f1ebd;
$primary-text-color3:white;
$primary-button-border:1px solid #5f1ebd;
$primary-padding:6px 15px;
$primary-border-radius:2px;
$primary-text-font-weight:600;