<section class="wraper-top" *ngIf="course">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="inner-details">
                    <ul class="breadcrume">
                        <li>Course > {{course?.categoryName}} > {{course?.title}}</li>
                    </ul>
                    <h1>{{course?.title}}</h1>
                    <p>{{course?.description}}</p>
                    <p class="yellow">
                        <mat-icon>star</mat-icon>
                        <span class="rating">{{course?.ratings}}</span>
                    </p>
                    <span class="createdBy"> <mat-icon>person</mat-icon> Created by <b>{{course?.instructors}}</b>
                        &nbsp; &nbsp; <mat-icon>language</mat-icon> {{course?.language}}
                        <br>
                        <mat-icon>access_time</mat-icon> Last Updated - {{course?.lastUpdate | date }}
                    </span>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="thumbnail">
                    <img src="{{course?.thumbnailImage}}" />
                    <figcaption>
                        <ul>
                            <li>${{course?.price}}</li>
                            <li class="rating-color"><mat-icon>star</mat-icon> {{course?.ratings}}</li>
                        </ul>
                        <!-- Add to cart (Filled button) -->
                        <button *ngIf="!courseFlag" mat-raised-button class="btn-primary" (click)="addToCart(course)">
                            Add to cart
                        </button>
                        <button *ngIf="courseFlag" mat-raised-button class="btn-primary" (click)="goToCart()">
                            Go to cart
                        </button>
                        <!-- Buy now (Outlined button) -->
                        <button mat-stroked-button (click)="goToCheckOut()" class="btn-outline">
                            Buy now
                        </button>
                    </figcaption>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Create Course Description Section -->
<section class="description_wraper">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                {{course.courseContent}}    
            </div>
            <!-- <div class="col-lg-12">
                <h4>Requirements</h4>
                <p>There are no requirements or prerequisites needed in order to take this course.</p>
                <h4>Description</h4>
                <p>Welcome to the CompTIA Cloud+ (CV0-004) course, your ultimate guide to mastering essential cloud
                    computing concepts and preparing for the CompTIA Cloud+ certification exam. This course is
                    meticulously designed to equip you with the knowledge and skills necessary for effectively managing
                    and optimizing cloud environments. Covering critical topics such as cloud architecture, deployment
                    models, operations, security, and DevOps fundamentals, this course provides a robust framework for
                    understanding the complexities of cloud technology. Whether you are new to cloud computing or
                    looking to enhance your existing skills, this course will help you gain the confidence needed to
                    excel in today’s cloud-centric job market.

                    Throughout the CompTIA Cloud+ (CV0-004) course, you will engage with interactive modules that delve
                    into vital areas such as resource availability, disaster recovery, and security best practices. The
                    curriculum emphasizes practical applications, featuring hands-on demonstrations and real-world
                    scenarios that reinforce your learning experience. By the end of this course, you will not only be
                    prepared to take the CompTIA Cloud+ exam but also possess the expertise to implement cloud solutions
                    effectively within your organization. This course is ideal for IT professionals, system
                    administrators, cloud engineers, and anyone aiming to advance their career in cloud computing.

                    By gaining a solid understanding of cloud technologies and best practices, participants will be
                    well-prepared for various job roles in the industry. Potential job titles include Cloud Engineer,
                    Cloud Administrator, Cloud Architect, DevOps Engineer, and IT Manager. Additionally, you will be on
                    the right path to obtaining the CompTIA Cloud+ Certification, a credential that is highly regarded
                    in the IT community. Enroll today to take the first step towards mastering cloud computing and
                    ensuring your place in the future of technology.</p>
                    <h4>Who this course is for:</h4>
                    <ul>
                        <li>IT professionals who are involved in cloud infrastructure services</li>
                        <li>Individuals responsible for implementing, maintaining, and optimizing cloud environments</li>
                        <li>IT professionals who want to validate their intermediate-level knowledge and hands-on skills</li>
                    </ul>
            </div> -->
        </div>
    </div>
</section>