
.preview-box { width: 300px;background-color: #fff;position: relative;left: -20px;
  padding: 20px;box-shadow: 0 2px 4px 
 color-mix(in oklch, oklch(27.54% 0.1638 265.98deg) 8%, transparent), 0 4px 12px 
 color-mix(in oklch, oklch(27.54% 0.1638 265.98deg) 8%, transparent);
 border:1px solid #ddd;
}

h4 { font-size: 16px;}
p {font-size: 12px;}