<section class="udemy_ai_business">
    <div class="container">
        <div class="row">
             <div class="col-lg-3">
                <div class="title_bar">
                     <h4>AI for Business Leaders</h4>
                     <p>Build an AI-habit for you and your team that builds hands-on skills to help you lead effectively.</p>
                    <a class="btn btn-primary" routerLink="https://www.udemy.com/course/ai-for-business-leaders-with-helen-lee-kupp/">
                        Start Learning
                    </a>
                </div>
             </div>
             <div class="col-lg-9">
                 <img src="ai_for_business_leaders_photo__1_.png">
             </div>
        </div>
    </div>
</section>



